@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER I*/
.head-1{
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    margin: 0 50px;
    margin-top: 50px;
}

.head-1 nav{
    /* background-color: aqua; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-1 nav img{
    height: 100px;
}

.head-1 nav .title{
    text-align: center;
    padding-right: 200px;
    color: rgb(228, 228, 228);
}
/* HEADER I*/



/* HEADER II */
.head-2 nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #595959;
    margin: 0 50px;
}

.head-2 nav .title{
    text-align: center;
    color: rgb(228, 228, 228);
}
/* HEADER II */

/* FORM A */

.kiri-kanan{
    display: flex;
    padding: 20px;
    font-size: 16px;
    margin: 0 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 120vh;
}


.kiri{
    box-sizing: border-box;
    /* margin: 30px; */
    /* background-color: aqua; */
    width: 45%;
}

.kiri .form{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 30px;
    /* background-color: aqua; */
}

.kiri .form .input{
    width: 500px;
    margin-top: 35px;
    border: none;
    border-bottom: 1px dashed black;
}

.kiri .form .blue{
    color: blue;
}

.kiri .kotak .label{
    display: flex;
    flex-direction: column;
}

.kiri .kotak{
    display: flex;
    font-weight: bold;
    margin-top: 30px;
    /* width: 70%; */
    /* background-color: aqua; */
    /* justify-content: center; */
}

.kiri .kotak .input{
    width: 300px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
    height: 20px;
    /* position: absolute;
    right: 0; */
}

.kiri .kotak .blue{
    color: blue;
}

.kiri .kotak .input-efek{
    width: 260px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
    height: 20px;
}

.kiri .kotak .input-cos{
    width: 320px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
    height: 20px;
}

.kiri .pilihan{
    display: flex;
    margin-top: 30px;
    /* background-color: aqua; */
    /* justify-content: space-evenly; */
    width: 90%;
    height: 150px;
}

.kiri .pilihan .ket{
    font-weight: bold;
}

.kiri .pilihan .ket .blue{
    color: blue;
}

.kiri .pilihan .pil{
    font-weight: bold;
}

.kiri .pilihan .pil .pil-satu,.pil-dua{
    margin-left: 15px;
    font-weight: lighter;
}

.kiri .pilihan .pil .pil-dua{
    padding-top: 15px;
    /* margin-left: 15px; */
}

.kiri .pilihan .pil .pil-satu .blue{
    color: blue;
}

.kiri .pilihan .pil .pil-dua .blue{
    color: blue;
}

.kanan{
    /* background-color: red; */
    box-sizing: border-box;
    width: 55%;
}

.kanan .form{
    display: flex;
    /* flex-direction: column; */
    font-weight: bold;
    margin-top: 30px;
    /* background-color: aqua; */
    /* align-items: center; */

}

.kanan .form .input{
    width: 600px;
    height: 20px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
}

.kanan .form .blue{
    color: blue;
}

.kanan .form .label{
    display: flex;
    flex-direction: column;
}

.kanan .form .input-baru{
    width: 480px;
    height: 20px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
}

.kanan .form .input-branch{
    width: 550px;
    height: 20px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
}

.kanan .form .input-bank{
    width: 450px;
    height: 20px;
    /* margin-left: 30px; */
    border: none;
    border-bottom: 1px dashed black;
}

.kanan .form .input-bank-dua{
    width: 180px;
    height: 20px;
    margin-left: 30px;
    border: none;
    border-bottom: 1px dashed black;
}

.kanan .form .atas{
    display: flex;
}

.kanan .form .atas .samping{
    margin-left: 50px;
}

.kanan .ab{
    display: flex;
    flex-direction: column;
}

.kanan .ab .bawah{
    display: flex;
    width: 300px;
    justify-content: space-around;
    font-weight: lighter;

}

.kanan .ab .bawah .btn-atas{
    display: flex;
    align-items: center;
}

.kanan .ab .bawah .btn-atas .label{
    margin-top: 20px;
    margin-left: 10px;
}

.kanan .ab .bawah .btn-bawah{
    display: flex;
    align-items: center;
}

.kanan .ab .bawah .btn-bawah .label{
    margin-top: 20px;
    margin-left: 10px;
}

.kanan .ab .bawah .btn-atas .te{
    color: blue;
}

.kanan .ab .bawah .btn-bawah .te{
    color: blue;
}
/* FORM A */


/* FORM B */

/* HEAD B */

.head-3 nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #595959;
    margin: 0 50px;
}

.head-3 nav .title{
    text-align: center;
    color: rgb(228, 228, 228);
}

/* HEAD B */

/* FORM B */